# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.

| Data Science Tools | 
|:------------------:|
|     Tableau        |  
|--------------------|
|     Apache Spark   | 
|----------|
|  Matlab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Rajeev Ranjan
Data science and Artificial Intelligence Student